.likes {
  display: flex;
  justify-content: center;
  gap: 3px;
  padding: 10px 0;
  margin: 1px auto;
  text-align: left;
  width: 90%;
  & h3 {
    color: var(--text-main);
  }
  & div {
    flex-basis: 30%;
    margin: 1px auto;
    &:nth-child(odd):hover {
      transform: rotate(-2deg);
    }
    &:nth-child(2):hover {
      transform: rotate(2deg);
    }
    & ul {
      display: flex;
      flex-direction: column;
      gap: 4px;
      margin-top: 5px;
      & li:nth-child(odd) {
        margin-left: 10px;
      }
    }
  }
}

.socials {
  background-color: var(--color-main);
  color: white;
  & h3 {
    width: 25%;
    margin: 2rem auto;
    text-align: center;
    font-family: "Kaushan Script", sans-serif;
    font-size: 2rem;
  }

  & #arrow {
    position: relative;
    top: 1.5rem;
    left: 3rem;
    transform: rotate(0deg);
    height: 3rem;
    width: 2rem;
    fill: white;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: 500;
    padding: 30px 0;
    & li,
    a {
      height: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      color: white;
      & svg {
        height: 1.5rem;
        width: 1rem;
        fill: white;
        padding: 0;
      }
      &:hover {
        color: var(--text-hover);
        & svg {
          fill: var(--text-hover);
        }
      }
    }
  }
}

@media all and (min-width: 320px) and (max-width: 991px) and (orientation: portrait) {
  .Details {
    & .part {
      display: none;
    }
  }

  .socials {
    & h3 {
      width: 100%;
      margin: 1rem auto;
    }
    & #arrow {
      left: 2rem;
      transform: rotate(0deg);
    }
    & ul {
      flex-direction: column;
      gap: 1px;
      margin: 0 auto;
      padding: 15px 0;
    }
  }
}
