nav {
  width: 100vw;
  height: 10dvh;
  position: sticky;
  top: 0;
  line-height: 4em;
  font-family: sans-serif;
  transition: transform 100ms ease-in-out;
  background-color: yellow;
  display: flex;
  align-items: end;
  justify-content: space-between;
  color: var(--main-red);
}

nav.nav-bar--hidden {
  transform: translateY(-100%);
}

.pages {
  width: 50%;
  align-items: center;
  justify-items: center;
  padding: 10px 0;
  & ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.featured {
  font-weight: bolder;
}

.settings {
  display: flex;
  width: 5%;
  justify-content: center;
  gap: 10px;
  align-items: center;
  & button {
    color: white;
  }
  & select {
    background-color: aqua;
  }
}
