.header {
  padding-top: 2em;
  width: 30em;
  margin: 0 auto;
  text-align: left;
  font-size: 2em;
  display: flex;
  justify-content: center;
  gap: 1em;
  & img {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    /* box-shadow: 5px 5px 4px; */
    object-fit: cover;
  }
  & h1 {
    font-size: 2.3rem;
    color: var(--text-main);
  }
}

.intro {
  align-self: center;
}

/* everything for the typing effect */
.typing-container {
  display: inline-block;
}

.typed-out {
  overflow: hidden;
  border-right: 0.15em solid var(--text-main);
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards;
  width: 0;
}

.erasing {
  overflow: hidden;
  border-right: 0.15em solid var(--text-main);
  white-space: nowrap;
  animation: untyping 1s steps(20, end) forwards;
  width: 0;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes untyping {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* About section */

.part {
  display: flex;
  width: 100%;
  padding: 10px 0;
  & h2 {
    padding-left: 20px;
    flex-basis: 15%;
    color: var(--text-main);
    font-family: "Poetsen One", sans-serif;
  }
  & p {
    padding: 0.5rem;
    & span {
      font-weight: bold;
      color: var(--text-main);
    }
  }
  & .part-content {
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
  }
}

/* 
** Projects section 
*/

.link-to {
  text-decoration: underline;
  text-align: center;
}

/* resume */
.resume {
  background-color: var(--text-main);
  padding: 15px 0;
  margin: 10px auto;
  & a {
    color: white;
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-weight: bold;
    &:visited {
      color: white;
    }
    &:hover {
      text-decoration: underline;
      color: var(--text-hover);
    }
  }
}

.scroll-to-top {
  width: 25%;
  margin: 10px auto;
  text-align: center;
}

/* responsiveness for smartphone users */
@media all and (min-width: 320px) and (max-width: 935px) {
  .header {
    text-align: left;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 100%;
    & .picture,
    img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      object-fit: cover;
      margin: 0 auto;
    }
    & h1 {
      font-size: 2.3rem;
      color: var(--text-main);
    }
  }

  .intro {
    font-size: 1.3rem;
  }

  .typing-container {
    font-size: 1.4rem;
    font-weight: 500;
  }
  .part {
    display: flex;
    flex-direction: column;
    width: 100%;
    & h2 {
      padding-left: 0;
      text-align: center;
      color: var(--text-main);
      font-family: "Poetsen One", sans-serif;
    }
    & p {
      text-align: justify;
      margin: 1px 20px;
      & span {
        font-weight: bold;
        color: var(--text-main);
      }
    }
    & .part-content {
      display: flex;
      justify-content: space-between;
    }
  }
}
