:root {
  margin: 0;
  padding: 0;
  width: 100dvw;
  font-family: "Montserrat", sans-serif;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  --main-red: #bf1a2f;
  --main-yellow: #f7d002;
  --main-violet: #4549ee;
  --main-pink: #f00699;
  --main-green: #018e42;
}

/* hide scrollbar but allow scrolling */

:root::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* reinitialize everything*/
body,
h1,
h2,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.theme-light {
  --bg-main: #fbfbfe;
  --color-main: #bf1a2f;
  --text-main: #bf1a2f;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --bg-main: #171c28;
  --color-main: #243133;
  --text-main: #fbfbfe;
  --color-secondary: #243133;
  --color-accent: #12cdea;
  --font-color: #fbfbfe;
}
