:root {
  margin: 0;
  padding: 0;
  width: 100dvw;
  font-family: "Montserrat", sans-serif;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  --main-red: #bf1a2f;
  --main-yellow: #ff8c00;
  --main-violet: #4549ee;
  --main-pink: #f00699;
  --main-green: #018e42;
}

/* hide scrollbar but allow scrolling */

:root::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* reinitialize everything*/
body,
h1,
h2,
h3,
h4,
div,
p,
ul,
li,
a,
svg,
span {
  margin: 0;
  padding: 0;
}

.theme-light {
  --bg-main: #f8f5f3;
  --color-main: #bf1a2f;
  --text-main: #bf1a2f;
  --text-hover: #fea195;
  --color-secondary: #fbfbfe;
  --color-accent: #f7d002;
  --font-color: #000000;
}
.theme-dark {
  --bg-main: #171c28;
  --color-main: #bc5500;
  --text-main: #d87000;
  --text-hover: #fcd0a1;
  --color-secondary: #243133;
  --color-accent: rgb(255, 132, 71);
  --font-color: #fbfbfe;
}
