.Projects {
  & h2 {
    background-color: var(--text-main);
    text-align: center;
    padding: 10px 0;
    color: white;
  }
}

.show-projects-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 5px;
  padding: 20px 0;
  font-style: oblique;
  color: var(--text-main);
  & .sign {
    font-weight: bolder;
  }
  &:hover {
    color: var(--text-hover);
  }
}

.show-projects {
  width: 100%;
  display: flex;
  gap: 8px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}
