.Projects {
  & h2 {
    background-color: var(--text-main);
    text-align: center;
    padding: 10px 0;
    color: white;
  }
}

.allProjects {
  width: 100%;
  display: flex;
  gap: 8px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}
