.Projects {
  & h2 {
    text-align: center;
    padding: 10px 0;
    color: var(--text-main);
    margin-top: 10px;
    font-size: 2rem;
    font-family: "Poetsen One";
  }
}

.show-projects-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 5px;
  padding: 20px 0;
  font-style: oblique;
  color: var(--text-main);
  & .sign {
    font-weight: bolder;
  }
  &:hover {
    color: var(--text-hover);
  }
}

.show-projects {
  width: 100%;
  display: flex;
  gap: 8px;
  margin: 10px auto;
  flex-wrap: wrap;
  justify-content: center;
}

@media all and (min-width: 320px) and (max-width: 991px) and (orientation: portrait) {
  .show-projects {
    flex-direction: column;
  }
}
