.Outlet {
  width: 100dvw;
  background: var(--bg-main);
  color: var(--font-color);
}

.Footer {
  height: 5dvh;
  width: 100dvw;
  background: var(--bg-main);
  color: white;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .Footer {
    height: 2dvh;
  }
}
